<form class="crudforms">
  <h2>Create new User</h2>
  <div>
    <label for="email">Email</label>
    <input name="email" id="email">
  </div>
  <div>
    <label for="name">Name</label>
    <input name="name" id="name">
  </div>
  <div>
    <button type="button" id="createUserButton" onclick="createUser()" class="btn btn--red">Create User</button>
  </div>
</form>