<form class="crudforms">
  <h2>Create new Article</h2>
  <div>
    <label for="title">Title</label>
    <input name="title" id="title">
  </div>
  <div>
    <label for="content">Content</label>
    <input name="content" id="content">
  </div>
  <div>
    <label for="authorId">AuthorID</label>
    <input name="authorId" id="authorId">
  </div>
  <div>
    <button type="button" id="createArticleButton" onclick="createArticle()" class="btn btn--red">Create Article</button>
  </div>
</form>