<div class="dishesContent">
  <div>
    <h5>Ингредиенты блюда "Рагу из курицы"</h5>
    <img src="../pictures/ragu_s_chicken.jpg" width="50%" height="50%" alt="Ragu">
    <ul>
      <li>куриное филе 400 г, картофель 400 г, кабачки 400 г, лук 200 г, чеснок 2-3 зубчика, морковь 100 г, соль 1/2 ч. ложки, перец чёрный молотый по вкусу, масло растительное для жарки</li>
    </ul>
    <nav><a href="#t1" id="d1">Заказать</a></nav>
    <script src="../JS/noDish.js"></script>
  </div>
  <div>
    <h5>Заказать блюдо "Пеперонни"</h5>
    <img src="../pictures/peperoni.jpg" width="40%" height="40%" alt="pEPERONI">
    <ul>
      <li>Тесто для пиццы, Сыр моцарелла, Оливковое масло, Сырокопченая колбаса, Перец чили, Помидоры в собственном соку, Орегано, Сушеный базилик, Чеснок, Сахар, Соль, Молотый черный перец</li>
    </ul>
    <nav><a href="#t2" id="d2">Заказать</a></nav>
    <script src="../JS/noDish.js"></script>
  </div>

</div>