<footer class = "footer">
    <div id = "contact" role = "contentinfo">
      <aside><p>Обратная связь</p>
        email: 284469@niuitmo.ru<br>
        phone: +7-905-***-**-**<br>
        telegram: @Dobranety<br>
        <nav><a href="https://vk.com/kev_0011">VK</a></nav>
        <div>
          {{serverTime}}ms
        </div>
      </aside>
    </div>
</footer>
