<body class ="header">
<div class="top-over-menu">
  <div class="top-over-menu-logo">
  </div>
</div>

<div>

</div>
<main role="main">

  <nav id="nav" role="navigation"> <a href="#nav" title="Show navigation">Show navigation</a> <a href="#" title="Hide navigation">Hide navigation</a>
    <ul>
      <li><a href='index.html' >Главная</a></li>

      <li>
        <a href=""><span>Магазин</span></a>
        <ul>
          <a href="https://www.google.com/search?client=opera-gx&q=Московский+пр-т.%2C+73%2C+Санкт-Петербург%2C+196084&sourceid=opera&ie=UTF-8&oe=UTF-8">Московский пр-т., 73, Санкт-Петербург, 196084   </a>
          <a href="https://www.google.com/maps?client=opera-gx&q=Бронницкая+ул.,+44,+Санкт-Петербург,+190013&oe=UTF-8&um=1&ie=UTF-8&sa=X&ved=2ahUKEwiHjMyatOb0AhVisYsKHSj-CWMQ_AUoAXoECAEQAw">Бронницкая ул., 44, Санкт-Петербург, 190013</a>
          <a href="https://www.google.com/maps?client=opera-gx&q=Рыбинская+улица,+1литЗ,+1+этаж,+Санкт-Петербург,+190013&oe=UTF-8&um=1&ie=UTF-8&sa=X&ved=2ahUKEwjvjNuOtOb0AhWCuosKHUyhD7gQ_AUoAXoECAIQAw">Рыбинская улица, 1литЗ, 1 этаж, Санкт-Петербург, 190013</a>

        </ul>

      </li>

      <li><a href='Pages/dishes.html'>Блюда</a></li>

      <li>
        <a href=""><span>Отзывы</span></a>
        <ul>
          <li><a href='Pages/reviews.html'>Отзывы на сайте   </a></li>
          <li><a href='Pages/parseLaceholder.html'>Отзывы со сторонних сайтов</a></li>
        </ul>
      </li>

      <li><a href="#contact">Контакты</a></li>

      <li><a href='fetchFromOwnAPI.html' >Fetch Own API</a></li>

      {{#if isLogged}}
          <li><a>Login</a></li>
      {{else}}
          <li><a>Log out</a></li>
      {{/if}}
    </ul>
  </nav>


</main>
</body>

