<div class="indexContent">

<header>
  <h3>Dobra food delivery</h3>
</header>
<article>
  <h5>Доставим быстро и куда угодно</h5>
  <h5>Таблица со временем доставки в разные районы</h5>
  <table>
    <tr>
      <th>Район</th><th>Время(мин)</th>
    </tr>
    <tr class="even">
      <td class="la">Фрунзенский</td><td>30</td>
    </tr>
    <tr>
      <td class="la">Купчинский</td><td>40</td>
    </tr>
    <tr class="even">
      <td class="la">Московский</td><td>35</td>
    </tr>
    <tr>
      <td class="la">Другие</td><td>от 50</td>
    </tr>
  </table>
  <p class="p-1">Вы только заказали, а мы уже тут</p>
</article>

<p>Цитата, понимание которой важно при готовке: <q>Кулинария — <i><b>подарок</b></i> Богов. Специи же — подарок <strong>дьявола</strong>.<br>
  Ну а формулой успеха будет C<sub>2</sub>H<sub>5</sub>OH</q>.</p>
</div>