<div class="reviewsContent">


  <div>
    <h1>Отзывы нашего магазина:</h1>
    <p class="block1">Еда была очень вкусной, всем советую</p>
    <div id="comments">
    </div>



    <div>
      <form >
        <div >
          <label for="comment-minus"></label>
          <textarea cols="40" rows="10" type="password" class="" id="comment-name" placeholder="Ваш комментарий..."></textarea>
        </div>
        <div class="">
          <button type="submit" id="comment-add" class="">Добавьте комментарий</button>
        </div>
      </form>
    </div>
  </div>




  <script src="../JS/loadScript.js"></script>
  <script src="../JS/comments.js"></script>


</div>