<!DOCTYPE html>
<html lang="ru">
    <head role="banner">
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>Dobra`s kitchen</title>
      <img class="shadow" src='pictures/Dobronet.jpg' alt="logo">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <script src='JS/loadScript.js'></script>
      <link rel="stylesheet" type="text/css" href='CSS/style.css'>
    </head>

  <body>
    <div class="wrapper">
      {{>header}}
      {{>indexContent}}
      {{>footer serverTime = serverTime}}
    </div>
  {{>scripts}}
  </body>
</html>